$color-white: #fff;
$color-bg-primary: #F3F0FF;
$color-bg-secondary: #B5A0F3;
$color-primary: #5F33E1;
$color-secondary: #8764FF;

$border-radius: 10px;
$border-radius-small: 5px;

$transition: 0.15s;