@import "../../style/global.scss";

.tab {
  padding: 10px;
  border-radius: $border-radius-small;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-primary;
  font-weight: 700;
  transition: $transition;
  text-transform: uppercase;

  &.active {
    color: $color-primary;
    background-color: $color-bg-primary;
  }

  &:hover {
    color: $color-white;
    background-color: $color-secondary;
  }
}

@media (max-width: 500px) {
  .tab {
    padding: 5px 10px;
    font-size: 16px;
  }
}
